img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}
